/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, nav {
    display: flex;
    justify-content: space-between;
}
nav {
    display: flex;
    color: black;
}
nav li {
    list-style: none;
    justify-content: space-between;
}
nav li a {
    text-decoration: none;
}