/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav {
    display: flex;
    justify-content: space-between;
}

header {
    padding: 72px 75px;
    padding-
}

nav {
    display: flex;
    color: black;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
}